@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

*{
  font-family: 'Karla',sans-serif;
}
body{
  background-color: hsl(204, 43%, 93%);
  
}

.App{
  display: flex;
  min-height: 100vh;
  justify-content: center; 
  align-items: center;
}

.card{
  background-color: #fff;
  width: 1440px;
}
.top{
  width: 100%;
  padding: 20px;
}